@using AssetManagement.Web.Helpers
@model IEnumerable<AssetManagement.Application.ViewModels.PermissionGroupVm>
@{
    ViewBag.Title = "Permissions";
}
<h3>Permissions Catalog</h3>
<div class="card card-kpi"><div class="card-body">
@foreach (var group in Model)
{
    <h6 class="mt-3 am-permission-module-title">@group.Module</h6>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead><tr><th>Permission</th><th>System Code</th><th>Description</th></tr></thead>
            <tbody>
            @foreach (var item in group.Permissions)
            {
                <tr>
                    <td>@PermissionHtmlHelpers.ToFriendlyPermissionLabel(item.Code, item.Name)</td>
                    <td><code>@item.Code</code></td>
                    <td>@item.Description</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
</div></div>
