<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AutoInitializeDatabase" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RequireSecureCookies" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RequireHttpsRedirect" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RequireMfaForAllUsers" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MfaAllowAnyCode" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="SetAttributes(mode)" />
  </system.web>
  <system.diagnostics xdt:Transform="InsertIfMissing">
    <trace autoflush="true">
      <listeners>
        <add name="DefaultTraceListener" type="System.Diagnostics.DefaultTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
